@import 'libs/fonts';
@import 'base/buttons';
@import 'base/titles';

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/countries';
@import 'blocks/promo';
@import 'blocks/service';
@import 'blocks/solutions';
@import 'blocks/advantages';
@import 'blocks/variants';
@import 'blocks/start';
@import 'blocks/footer';
@import 'blocks/media';